@font-face {
  font-family: vonique64;
  src: url('fonts/Vonique64.ttf');
}

#navBar ul li a:hover{
  color: black;
}

h1{
  color: white;
}

h6{
  font-family: vonique64;
  font-size: 20px;
  text-decoration: underline;
}

.nav-link{
  color: black;
}

.navbar-brand {
  font-family: vonique64;
}
