@font-face {
  font-family: vonique64;
  src: url("assets/fonts/Vonique64.ttf");
}

#navBar ul li a:hover {
  color: black;
}

h2 {
  font-family: vonique64;
  color: white;
}

h3 {
  font-family: vonique64;
  font-size: 30px;
  font-weight: bold;
}

.h4 {
  font-size: 18px;
}

h5 {
  font-family: vonique64;
  font-size: 20px;
  font-weight: bold;
}

h6 {
  color: black;
  font-family: vonique64;
  font-size: 20px;
  text-decoration: underline;
}

.nav-link {
  color: black;
}

.navbar-brand {
  font-family: vonique64;
}
